
body{
    min-height: 100vh;
    background: 
  repeating-linear-gradient(
    to right, transparent, 
    transparent 50px, 
    white 50px, 
    white 55px
  ),
  repeating-linear-gradient(
    to bottom, transparent,  
    transparent 50px, 
    white 50px, 
    white 55px
  ),
  linear-gradient(45deg, rgb(241, 211, 255), rgb(199, 235, 233));
  /* more styles */
}

h1, h2, h3, h4, h5, h6{
    background-color: rgba(0, 0, 0, 0.339);
    border-color: rgba(56, 56, 56, 0.514);
    color: rgb(255, 255, 255);
    border-radius: 1em;
    font-family: "Sixtyfour";
    border-style: dashed;
    border-width: .2rem;
    padding: 1.0rem;
    text-align: center;
}



nav{
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(14, 23, 26, 0.212);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    color:black;
}
nav a:hover{
    background-color: rgb(181, 202, 230);
}